body .logbook {
  margin-bottom: 80px;
  overflow-y: auto;
  overflow-x: hidden;
}

h1 {
  margin-left: 25px;
  margin-bottom: 2px;
}

.month-year {
  background-color: #f2f2f2;
  font-style: italic;
  width: 100%;
  margin: 0;
  padding: 2px;
  margin-left: 2px;
}

.workout-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  border: 1px solid #d3d3d3;
  padding: 5px 0;
  width: 100%;
}

.workout-date {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 5px 15px;
}

.workout-date p {
  margin: 0;
  padding: 0;
}

.workout-date .day {
  font-weight: 100;
}

.workout-date .day-number {
  font-weight: 700;
}

.workout-info {
  margin: 0;
  padding: 0;
}

.workout-info h3 {
  margin: 0;
  padding: 0;
}

.workout-info p {
  margin: 0;
  padding: 0;
  font-size:small;
}


