h1 {
  margin-left: 25px;
  margin-bottom: 20px;
}

.add-workout {
  position: absolute;
  top: 5px;
  right: 5px;
  border: none;
  background-color: transparent;
  font-size: 44px;
}

.made-workouts {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.workout-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #d3d3d3;  
  border-left: none;
  border-right: none;
  background-color: transparent;
}

.workout-bar p {
  margin: 6px 0;
  margin-left: 5px;
}